<div class="container">
    <div class="panel panel-default" ng-controller="SystemUnameCtrl">
        <div class="panel-heading">System summary</div>
        <div class="panel-body">
            {{ systemInfo }}
        </div>
    </div>

    <div ng-controller="NetIfacesCtrl">
        <tabset>
            <tab ng-repeat="interface in network.interfaces" heading="{{interface.name}}" fade="true">
                <table style="margin-top: 10px;" class="table table-condensed table-bordered" ng-if="interface.addresses.length">
                    <thead>
                        <th>Family</th>
                        <th>Address</th>
                        <th>Peer</th>
                        <th>Netmask</th>
                        <th>Broadcast</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="address in interface.addresses">
                            <td>{{address.family}}</td>
                            <td><code>{{address.addr}}</code></td>
                            <td><code>{{address.peer}}</code></td>
                            <td><code>{{address.netmask}}</code></td>
                            <td><code>{{address.broadcast}}</code></td>
                        </tr>
                    </tbody>
                </table>
                <div style="margin-top: 10px;" class="alert alert-info" ng-if="interface.addresses.length == 0">No address configured for interface '{{interface.name}}'.</div>
            </tab>
        </tabset>
    </div>
</div>